





.box
{
   margin:20px auto;

   margin-left:600px;
   margin-top:50px;
    border:2px solid black;
    text-align:center;

    border-style: double;
    padding:50px;
    position: absolute;

    width:300px;
}
.h1
{
    text-align: center;
    color:rgba(122, 207, 247, 0.925);
}

.username
{

    border:2px solid rgba(10, 160, 230, 0.459);

    margin: 20px auto;
    height: 25px;
    width:250px;
    text-align: center;

    font-weight: bold;
    padding:20px;
    transition: 0.25s;
    box-sizing: border-box;


}


