{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUSTOMER QUERY</title>
     <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'CSS/commoncss.css' %}" type="text/css">
         <link rel="stylesheet" href="{% static 'CSS/register_customer.css'  %}" type="text/css">
        <link rel="stylesheet" href="{% static 'CSS/pharmacy_query.css'  %}" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style>
          .nav_bar
{
    font-weight:0px;
    font-size:16px;
     font-family: Catamaran;
    float:right;
    display: block;
    padding: .5rem 1rem;


}
.nav_bar ul li a{
text-decoration:none


}
.nav_bar ul li
{
    float:left;
    list-style:none;
    margin:10px;

}

            .jumbotron {
              background-color: powderblue;
              color: #fff;
            }

            .class1 {
              background-color: powderblue;
              width: 300px;
              border: 1px solid black;
              padding: 50px;
              margin: 20px;
            }
        </style>

</head>

<header>
            <span style="margin-left: 0px ; margin-top:-10px;" class="header_nav"><a href="homepage.html"><img src="{% static 'IMAGES/logo.jpg'  %}" width="200" height="119"></a>
                </span>
                <div class="nav_bar">

                  <ul >
              <li style="color:black"><i class="fa fa-home" aria-hidden="true"></i><a href="homepage.html">HOME</a></li>
              <li><a href="contact.html"> Contact US</a> </li>
                      <li><a href="services.html">Services</a></li>
              </ul>

              </div>
      </header>


<body>


        <div style="margin-top:-100px">

            <div class="jumbotron text-center">
                <h1>CUSTOMER QUERY</h1>
                <p style="color:#fff;">Find Your Meds Here</p>
            </div>



              <ul class=profile-list  style="margin-top:2%" >
                <li style="font-size:30px;font-weight: bold;text-transform:uppercase" >WELCOME <i>{{Name}}</i></li>
            </ul>

            <div style="margin-left:38%;margin-top:0%;margin-bottom:5%;position:relative">
            <form action="customer_query.html" method="post">
              {% csrf_token %}
                 <input   style="" class="pd" type="text" placeholder="What are you looking for?" name="mid"  id="name">
                <input type="submit" value="Search">
            </form>
        </div>

            <center>

                <div>
                {% if medi_data|length > 0 %}
                <h2 style="font-size:30px;font-weight: bold;text-transform:uppercase">YOUR SEARCH RESULTS</h2>
                    <a href="complete_detailes"><img src={{medi_data.image}} alt=""   height="300px" width="300px"></a>
                <div class="container">
                    <table class="table table-hover">
                    <tbody>

                        <br>
                        <tr>
                          <td><h3>NAME</h3></td>
                          <td></td>
                          <td><h3>{{medi_data.name}}</h3></td>
                        </tr>
                        <tr>
                          <td><h3>SHORT COMPOSITION</h3></td>
                          <td></td>
                          <td><h3>{{medi_data.scomp}}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>PACKET SIZE</h3></td>
                            <td></td>
                            <td><h3>{{medi_data.psize}}</h3></td>
                          </tr>


                            <td><h3>MEDICINE TYPE</h3></td>
                            <td></td>
                            <td><h3>{{medi_data.type}}</h3></td>
                          </tr>
                      </tbody>
                    </table>
                    </div>
                    <h3>For more details <a href="complete_detailes">Click Here</a></h3>
                    {% endif %}
                </div>

                <div>
                    {% if pdetailes|length > 0 %}
                     <h1 style="margin-bottom: 50px;">PHARMACY DETAILS</h1>
                    {% endif %}

                    {% for d in pdetailes%}
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:lightgreen">
                          <h2>{{d.shopname}}</h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:lightcoral;">
                          <h3>OWNER NAME</h3>
                        </div>
                        <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:powderblue;">
                          <h3>{{d.firstname}} {{d.middlename}} {{d.lastname}}</h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:lightcoral;">
                          <h3>QUANTITY</h3>
                        </div>
                        <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:powderblue;">
                          <h3>{{d.quantity}}</h3>
                        </div>
                      </div>
                      <div class="row">
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:lightcoral;">
                        <h3>PRICE</h3>
                      </div>
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:powderblue;">
                        <h3>{{d.price}}</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:lightcoral;">
                        <h3>E-MAIL</h3>
                      </div>
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:powderblue;">
                        <h3>{{d.eid}}</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:lightcoral;">
                        <h3>PHONE NO</h3>
                      </div>
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:powderblue;">
                        <h3>{{d.phone1}}</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:lightcoral;">
                        <h3>Address</h3>
                      </div>
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:powderblue;">
                        <h3> {{d.streetno}}, {{d.city}}, {{d.state}}</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:lightcoral;">
                        <h3>PINCODE</h3>
                      </div>
                      <div class="col-sm-3 col-md-6 col-lg-6" style="background-color:powderblue;">
                        <h3>{{d.pin}}</h3>
                      </div>
                    </div>
                    </div>
                    <br>
                    <br>
                    {% endfor%}
                </div>
              </div>
            </center>

            <div>

            <!------------------------------------------------------------------------------------------------------------->

    <footer style="margin-top:150px;height:20%">
        <ul>
            <li><a href="homepage.html"> Home </a></li><br>
            <li><a href="services.html"> Services </a></li><br>
            <li><a href="contact.html">Contact Us</a></li><br>

            <li><a href="commonloginpage.html"> Log In</a></li><br>
        </ul>
        <div class="footer_logo" style="margin-left: 600px; text-transform: uppercase; float:center ;margin-top:20px"><a href="homepage.html"><img src="{% static 'IMAGES/logo.png' %} " width="150" height="150"></a>


        </div>
      <div class="social_media">
            <a href="#">

            <img src="{% static 'IMAGES/facebook_logo.png' %}" alt="" width="50" height="50" >
            </a><br>

            <a href="#">
            <img src="{% static 'IMAGES/twitter_logo.png' %}" alt="" width="50" height="50">
            </a><br>
            <a href="#">
            <img src="{% static 'IMAGES/instagram_logo.jfif' %}" alt="" width="50" height="50">
            </a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {

            $( "#name" ).autocomplete({
      source:'{% url "customer_search" %}',minlength:2  });
  } );

  </script>

</body>
</html>